

.new:hover {
    color: blue;
}

.new{
    align-items: center;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#new input[type="text"] {
    padding: 10px;
    margin-right: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-bottom: 20px;
}

#search {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    align-self: center;
    justify-content: center;
    display: flex;
}


#pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
    align-self: center;
}

  
  #search {
    width: 50%;
  }

  .cardContainer > .card {
    max-width: 300px;
    width: 100%;
    height: 100%;
  }

  #songList {
    align-content: center;
    align-self: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}
