body {
    background: repeating-linear-gradient(-45deg,
            #122f41,
            #122f41,
            #1a4e63,
            #122f41 30px);
    background-size: 500% 1000%;
    /* Set size of background to control the smoothness of the wave effect */
    animation: wave 900s ease infinite alternate;
    /* Animates*/
    color: #fff;
}

/* Animate the wave effect */
@keyframes wave {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

a {
    color: #3fc1c9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #9aa9de;
}

hr,
.divider {
    border-color: #3fc1c9;
}

button,
input[type="submit"] {
    background-color: #3fc1c9;
    color: #fff;
    border-color: #3fc1c9;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #1e2a47;
    color: #fff;
    border-color: #3fc1c9;
}

label {
    color: #fff;
}

.error {
    color: #f44336;
}


.success {
    color: #4caf50;
}