.song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.song-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.audio-player {
  margin-top: 20px;
}

.dropdown {
  margin-top: 20px;
}

#lyrics {
  width: 350px;
  height: 250px;
}